<div class="page-header">
    <h1><i class="bi bi-clipboard-check"></i>&nbsp;/ Pedidos</h1>
    <form class="row g-3" action="/reps/findRep" method="post">
        <div class="col-md-6">
            <input type="text" class="form-control" placeholder="Buscar" name="buscar" id="buscar"/>
        </div>
        <div class="col-md-4">
            <button type="submit" class="btn btn-primary">Buscar</button>
        </div>
        <div class="col-md-2">
            <a href="/reps/new"><i class="bi bi-file-earmark-plus icon-new"></i></a>
        </div>
    </form>
</div>

<div class="page-table">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Orden N°</th>
                <th>Fecha ingreso</th>
                <th>Cliente</th>
                <th>Productos</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>F. Maxima</th>
                <th>F. Entrega</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each data}}
            <tr>
                <td>{{this.orden_id}}</td>
                <td>{{this.fecha}}</td>
                <td>{{this.cliente_id}}</td>
                <td>{{this.equipo}}</td>
                <td>{{this.marca}}</td>
                <td>{{this.modelo}}</td>
                <td>{{this.fecha_reparacion}}</td>
                <td>{{this.fecha_entrega}}</td>
                <td><a href="/reps/details/{{this.orden_id}}">{{>buttons/detailBtn}}</a></td>
                <td><a href="/reps/edit/{{this.orden_id}}">{{>buttons/editBtn}}</a></td>
                <td>
                    <form class="delete" action="/reps/delete/{{this.orden_id}}" method="post">
                        <button class="noBtn" type="submit">{{>buttons/deleteBtn}}</button>
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<script>

    const forms = document.querySelectorAll('.delete');

    forms.forEach(form => {
        form.addEventListener('submit', function(event) {
            event.preventDefault();
            Swal.fire({
                title: 'Estas seguro?',
                text: "La eliminación no se puede revertir",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Si'
                }).then((result) => {
                if (result.isConfirmed) {
                    form.submit();
                }
                })
        })
    });

</script>